$color_blue_head: #39adf0;
$color_input_border: #ebebeb;
$color_green: #7ed321;

$color_grey_bg: #f2f2f2;
$color_grey_text: #979797;
$color_grey_border: #dcdcdc;
$color_grey_text_block: #a5a5a5;

$color_station_red: #f22823;
$color_station_green: #82bd11;
$color_station_blue: rgb(18, 74, 129);
$color_station_orange: #ff8c00;
$color_station_purple: #d904dc;