@import 'core/scss/_colors.scss';

section#find_best {
    background-color: $color_blue_head;
    padding: 25px;
    .find_best {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            text-transform: uppercase;
            color: white;
            font-weight: 700;
            font-size: 26px;
        }
        a {
            padding: 15px 70px;
            background: none;
            transition: all 0.5s ease-in;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid white;
            margin-left: 51px;
            &:hover {
                background-color: #fff;
                color: $color_blue_head;
                text-decoration: none;
                border: 1px solid $color_blue_head;

            }
        }
    }
}

@media (max-width: 800px) {
    section#find_best {
        .find_best {
            flex-direction: column;
            text-align: center;
            h4 {
                width: 600px;
            }
            a {
                margin-left: 0;
                margin-top: 25px;
                padding: 10px 50px;
            }
        }
    }
}