@import 'core/scss/_colors.scss';

section#header {
    background-image: url('../img/header-artboard.png');
    background-repeat: repeat-x;
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    .head {
        max-width: 1400px;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logocation {
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 20px;
            .location {
                display: flex;
                align-items: center;
                font-size: 13px;
                padding-left: 41px;
                select {
                    cursor: pointer;
                    color: #fff;
                    border: none;
                    outline: none;
                    padding-bottom: 3px;
                    border-bottom: 1px dotted #fff;
                    background: none;
                    -webkit-appearance: none;
                    option {
                        color: #000;
                    }
                }
                i {
                    margin-left: 10px;
                    margin-top: 3px;
                }
            }
        }
        nav {
            font-size: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 436px;
            text-transform: uppercase;
            a {
                color: #fff;
                text-decoration: none;
            }
            button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                background: none;
                border: none;
                height: auto;
                span {
                    text-transform: uppercase;
                    color: #fff;
                }
                i {
                    position: absolute;
                    right: -12px;
                    top: 6px;
                }
            }
        }
        .actions {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            a {
                user-select: none;
                span {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 13px;
                    color: #fff;
                }
            }
            .login {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 109px;
                span {
                    padding-left: 10px;
                }
                &:hover {
                    border-radius: 5px;
                }
            }
            .addObject {
                cursor: pointer;
                padding: 12px 25px;
                border: 1px solid white;
                border-radius: 1px;
                &::before {
                    content: '+';
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                }
                &:hover {
                    background-color: #fff;
                    span {
                        color: $color_blue_head;
                    }
                    &::before {
                        color: $color_blue_head;
                    }
                }
            }
        }
    }
    .main {
        width: 100%;
        max-width: 1180px;
        .title {
            margin-top: 73px;
            margin-bottom: 49px;
            h1 {
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 49px;
                margin-bottom: 15px;
            }
            h2 {
                color: rgba($color: #fff, $alpha: 0.5);
                line-height: 24px;
            }
        }
        form.search {
            height: 150px;
            width: 100%;
            background-color: #fff;
            padding: 20px 10px;
            .first_row {
                margin-bottom: 10px;
            }
            .row {
                height: 50px;
            } 
            select {
                height: 100%;
                width: 100%;
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 15px;
                -webkit-appearance: none;
                background: none;
                border: 1px solid $color_input_border;
                font-size: 16px;
                outline: none;
                cursor: pointer;
            }
            .arrow {
                position: absolute;
                right: 30px;
            }
            .select {
                position: relative;
                display: flex;
                align-items: center;
            }
            .text_field {
                padding-right: 10px;
                padding-left: 10px;
                input {
                    width: 100%;
                    height: 100%;
                    background: none;
                    font-size: 16px;
                    border: 1px solid $color_input_border;
                    padding-left: 15px;
                    outline: none;
                    &::placeholder {
                        opacity: 1;
                        transition: opacity 0.5s ease-in;
                    }
                    &:focus {
                        &::placeholder {
                            opacity: 0;
                        }
                    }
                }
            }
            .search_button {
                padding-right: 10px;
                padding-left: 10px;
                input {
                    width: 100%;
                    height: 100%;
                    background: $color_green;
                    text-transform: uppercase;
                    color: #fff;
                    border: none;
                    opacity: 1;
                    transition: opacity 0.2s ease-in;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}