//Части страницы
@import './header.scss';
@import './advertisements.scss';
@import './rent.scss';
@import './buildings.scss';
@import './sell.scss';
@import './commercial_land.scss';
@import './steps.scss';
@import './find_best.scss';
@import './main_fast_search.scss';

//Блоки
@import './fast_search.scss';
@import './build_promos.scss';

//Утилиты
@import 'core/scss/reset.scss';
@import 'core/scss/_fonts.scss';

* {
    box-sizing: border-box;
}
body, html {
    font-family: $font_main;
    min-width: 1280px;
}
body {

    // overflow-x: hidden;
}
i.arrow {
    border: 5px solid transparent;	
    border-top: 5px solid green;
    &.white {
        border-top-color: #fff;
    }
}